@for $index from 1 through 6 {
  h#{$index}{
    color: $sugar-cane;
    display: inline-block;
    font-family: $mont;
    line-height: 1.2;
    position: relative;
    margin: 0;
    width: auto;

    &.line{
      padding: 10px 0;

      span{
        padding: 8px 0;
        position: relative;
        
        &::before,
        &::after{
          content: "";
          background: $sugar-cane;
          height: 2px;
          position: absolute;
          width: 30%;
          min-width: 80px;
        }

        &::before{
          top: 0;
          left: 0;
        }

        &::after{
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

h2{
  margin-bottom: 40px;
  font-size: 28px;

  @include MQ(L){
    font-size: 36px;
  }

  @include MQ(XL){
    font-size: 46px;
  }
}

.OverflowHidden{
   overflow: hidden;
}

.Overlay{
  @include transition(all .3s ease);

  background: rgba(0,0,0,.75);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  &.is-open{
    opacity: 1;
    visibility: visible;
  }
  
}

.Arrow{
  &__button{
    @include center(y);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 1;

    &::after,
    &::before{
      background-color: white;
      content: "";
      display: inline-block;
      height: 3px;
      position: absolute;
      width: 30px;
      border-radius: 3px;
    }

    &::after{
      top: 34px;
    }

    &::before{
      top: 12px;
    }

    &--prev{
      left: 5px;

      &::after,
      &::before{
        left: 0;
      }

      &::after{
        @include transform(rotate(50deg));
      }

      &::before{
        @include transform(rotate(-50deg));
      }
    }

    &--next{
      right: 5px;

      &::after,
      &::before{
        right: 0;
      }

      &::after{
        @include transform(rotate(-50deg));
      }

      &::before{
        @include transform(rotate(50deg));
      }
    }

    &:focus{
      outline: 0;
    }
  }
}

.Button{
  background: transparent;
  border: 0;
  color: $sugar-cane;
  cursor: pointer;
  display: inline-block;
  font-family: $mont;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2; 
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  span{
    @include transition(all .3s ease);

    border: 3px solid $sugar-cane;
    display: block;
    height: 100%;
    padding: 12px 25px;
    position: relative;
    width: 100%;
  }

  @include MQ(L){
    font-size: 16px;
  }

  &--big{
    @extend .Button;

    margin: 80px auto;
    position: relative;
    z-index: 1;

    span{
      border: 8px solid $sugar-cane;
      padding: 38px 75px;
      height: 116px;
    }

    &::before{
      @include transform(rotate(26.5deg) translateY(-50%));
      @include transition(all .3s ease);
      background-color: $tall-poppy;
      content: "";
      display: block;
      height: 1px;
      left: -40px;
      position: absolute;
      top: 50%;
      width: calc(100% + 80px);
      z-index: 0;
    }

    @include MQ(M){

      &::before{
        @include transform(rotate(23.5deg) translateY(-50%));
      }

      span{
        font-size: 15px;
        padding: 38px 92px;
        height: 126px;
      }
    }
  }
}

.no-touchevents{
  .Button{
    &--big{
      &:hover{
        span{
          background-color: $sugar-cane;
          color: $cod-gray;
        }
  
        &::after{
          border: 4px solid $cod-gray;
          content: "";
          height: calc(100% - 16px);
          left: 8px;
          position: absolute;
          top: 8px;
          width: calc(100% - 16px);
        }
      }
    }
  }
}
.Container{
  padding: 0 15px;
  margin: 0 auto;

  @include MQ(M){
    max-width: 970px;
  }

  @include MQ(L){
    max-width: 1170px;
  }

  @include MQ(XL){
    max-width: 1400px;
  }
}

.Excerpt{
  text-align: center;
  max-width: 940px;
  margin: 90px auto;

  @include MQ(M){
    margin: 180px auto;
  }

  p{
    font-size: 14px;
    color: #888888;
    font-family: $roboto;
    line-height: 1.8;

    @include MQ(L){
      font-size: 16px;
    }

    @include MQ(XL){
      font-size: 20px;
    }
  }

  h6{
    font-size: 24px;
    margin-top: 45px;

    @include MQ(M){
      font-size: 36px;
      margin-top: 75px;
    }
  }
}

.Share{
  display: none;

  @include MQ(L){
    display: block;
    position: fixed;
    right: 4%;
    top: 0;
    z-index: 4;
    border-left: 2px solid $sugar-cane;
    border-right: 2px solid $sugar-cane;
    border-bottom: 2px solid $sugar-cane;
    padding: 2px 6px;

    .Social{
      svg{
        height: 24px;
        width: 24px;
      }

      li{
        margin: 0 4px;
      }
    }
  }
}

.Popup{
	@include transition(all .3s ease);
	
	background-color: rgba(black, .7);
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 4;

	&.open{
		opacity: 1;
		visibility: visible;
	}

	&__container{
		@include center;

		background-color: $cod-gray;
		//box-shadow: 1px 1px 40px 5px rgba(#f1f1f2,.8);
		max-width: 640px;
		padding: 3.5% 30px;
		position: absolute;
    max-height: 85%;
    overflow-y: auto;
    width: 95%;

    @include MQ(M){
      padding: 3.5% 2.5%;
    }
	}

	&__close{
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 25px;

    img{
      width: 100%;
    }

    &:focus{
      outline: none;
    }

    @include MQ(M){
      right: 45px;
      top: 45px;
    }
  }

  &__list{
    list-style: none;
    margin: 0;
    max-width: 380px;
    padding: 0;
    text-align: center;

    a{
      color: $sugar-cane;
      font-family: $roboto;
      font-size: 16px;
      text-decoration: none;

      &:hover{
        color: $pizazz;
      }
    }

    li{
      border-bottom: 1px solid $sugar-cane;

      &:last-child{
        border-bottom: 0;
      }
    }
  }

	h3{
		line-height: 1.4;
		margin-bottom: 30px;
    margin-top: 15px;
    display: block;
    font-size: 28px;
    text-align: left;
	}

	p{
		font-size: 17px;
		line-height: 1.4;
	}
}

.Dropdown{
  cursor: pointer;
  display: block;
  height: 65px;
  padding-top: 30px;
  position: relative;

  label{
    color: $sugar-cane;
    display: block;
    font-family: $roboto;
    font-size: 16px;
    left: 0;
    letter-spacing: .6px;
    line-height: 1;
    margin-left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
  }

  &::after{
    background: url(../img/icons/arrow.svg) no-repeat 0 0;
		background-size: contain;
		content: "";
		display: inline-block;
		height: 15px;
		position: absolute;
		right: 10px;
		top: 40px;
		width: 16px;
  }

  &.is-open{
    ul{
      @include transform(scale(1));
      opacity: 1;
      visibility: visible;
    }
  }

  > span,
  a{
		font-family: $roboto;
  }

  > span{
    color: #515151;
    display: block;
    font-size: 16px;
    left: 10px;
    overflow: hidden;
    padding-right: 40px;
    position: absolute;
    text-overflow: ellipsis;
    top: 30px;
    white-space: nowrap;
    width: 100%;
    
		&.is-selected{
      color: $sugar-cane;
		}

  }

  ul{
    @include transform(scale(.96));
    @include transition(all .3s ease);

    border: 2px solid $sugar-cane;
    background-color: $cod-gray;
		box-sizing: content-box;
		left: -2px;
		list-style: none;
		margin: 0 auto;
		max-height: 300px;
		opacity: 0;
		overflow: auto;
		padding: 0;
		position: absolute;
		right: 0;
		top: 68px;
		visibility: hidden;
		width: 100%;
		z-index: 2;
  }

  li{
    margin: 5px 0;
  }

  a{
    @include transition(all .3s ease);

    color: $sugar-cane;
    display: block;
    padding: 3px 15px;
    text-transform: lowercase;
    text-decoration: none;
    font-family: $roboto;
    font-size: 16px;

    &:hover{
      color: $pizazz;
    }
  }
}

.Form{
	@include clearfix;

	margin-bottom: 0;
	width: 100%;

	&__control{
    border-bottom: 1px solid $sugar-cane;
		margin-bottom: 45px;
    position: relative;
    
    label{
      color: $sugar-cane;
      display: block;
      font-family: $roboto;
      font-size: 16px;
      letter-spacing: .6px;
      line-height: 1;
      margin-left: 10px;
      text-transform: uppercase;

      span{
        color: $tall-poppy;
        opacity: 0;
        position: absolute;
        right: 8px;
        top: 8px;
        visibility: hidden;
      }
    }

    &.error{
      border-color: $tall-poppy;

      span{
        visibility: visible;
      }
    }

    &--half{
      @extend .Form__control;

      display: inline-block;
      vertical-align: middle;
      width: calc( (100% / 2) - 20px );

      &:nth-child(even){
        margin-left: 32px;
      }
    }
  }

  input[type="text"],
  input[type="email"],
  textarea{
    @include transition(border-color .3s ease);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    background-color: transparent;
    //border-bottom: 1px solid $sugar-cane;
    border: 0;
    color: $sugar-cane;
    font-size: 16px;
    padding: 8px 10px;
    width: 100%;

    &:focus{
      outline: none;
      border-color: $pizazz;
    }
  }

  textarea{
    resize: none;
  }

  input[type="submit"]{
    border-bottom: 3px solid $sugar-cane;
    border-top: 3px solid $sugar-cane;
    float: right;
    letter-spacing: 1px;
    padding: 8px 35px;
  }
}

.Instafeed{
  max-width: 300px;
}