.Footer{
  background-color: #161616;
  padding: 30px 15px;
  text-align: center;

  a{
    color: $sugar-cane;
    font-family: $mont;
    font-size: 16px;
    text-decoration: none;
  }

  &__crowd{
    display: inline-block;

    img{
      max-width: 60px;
    }
  }

  .Social{
    margin: 30px 0;

    li{
      display: inline-block;
      margin: 0 8px;
    }
  }

  @include MQ(M){
    display: flex;
    padding: 15px;
    align-items: center;
    
    .Social{
      margin: 0;
    }

    > a,
    ul{
      flex: 1;
    }
  }
}