.Header{
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;

  &__logo{
    position: absolute;
    @include center(x);
    top: 150px;
    width: 140px;

    @include MQ(L){
      top: 12%;
      width: 210px;
    }
  }

  &__call{
    @include center(x);
    bottom: 140px;
    position: absolute;
  }

  &__logo,
  &__call{
    @include transition(all .15s ease);
  }

  @include MQ(L){
    //z-index: 2;
  }
}

.Bar{
  @include transition(all .3s linear);
  background-color: transparent;
  height: 74px;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 3;

  .Menu{
    border: 0;

    @include MQ(L){
      top: 0;
      height: 100%;

      > ul{
        height: 100%;

        > li > a{
          line-height: 62px;
        }
      }

      .Menu-sub{
        top: 74px;
      }
    }
  }

  .Container{
    height: 100%;
    position: relative;
  }

  &__logo{
    @include center(y);
    left: 30px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  &.is-scrolling{
    background-color: $cod-gray;
    opacity: 1;
    visibility: visible;
    z-index: 3;
    box-shadow: 0 0 5px 2px rgba(black, .4);

    .Bar__logo{
      opacity: 1;
      visibility: visible;
    }

    .Menu{
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }

    .MenuTrigger{
      @include center(y);
    }
  }

  .Menu{
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

}