@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'elements';
@import 'header';
@import 'footer';
@import 'menu';


// GENERAL

img{
   max-width: 100%;
}

body{
   background-color: $cod-gray;
}

html, body {
  height: 100%;
  margin: 0; 
  padding: 0;
}

.PageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.PageContent{
   flex: 1;
}


// CONTENT

.Banner{
  height: 100vh;
  margin-bottom: 60px;
  position: relative;

  &::before{
    background: rgba($cod-gray, .55);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; 
  }

  &--photo{
    @extend .Banner;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @include MQ(M){
    margin-bottom: 0;
  }
}

.Gallery,
.Stores{
  .Content{
    padding: 0;

    @include MQ(M){
      padding: 0 15px;
    }
  }

  .Title{
    padding: 0 15px;
  }
}

.Gallery{
  &__wrapper{
    @include clearfix;
    position: relative;
  }

  @include MQ(M){
    padding: 100px 0 0;
  }
}

.GallerySlider{
  position: relative;
  height: 300px;
  margin: 0;

  .slick-list,
  .slick-track{
    height: 100%;
  }

  &__item{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  @include MQ(M){
    float: left;
    height: 615px;
    width: calc(100% - 400px);
  }
}

.GalleryNav{
  height: 100px;
  overflow: hidden;

  .slick-list,
  .slick-track{
    height: 100% !important;
    padding: 0 !important;
  }

  &__item{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    cursor: pointer;
    height: 126px !important;
    position: relative;

    &::after{
      @include transition(opacity .5s ease);
      background: rgba($cod-gray, .65);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1; 
    }

    &.slick-current{
      &::after{
        opacity: 0;
      }
    }
  }

  @include MQ(M){
    float: left;
    height: 615px !important;
    width: 400px;

    .slick-slide{
      border: 0;
    }

    &__item{
      height: calc(615px / 3) !important;
      width: 126px;
    }
  }
}

.Stores{
  background: url(../img/icons/brick.svg) 0 0;
}

.Content{
  margin-bottom: 65px;

  &--internal{
    .Content--left,
    .Content--right{
      margin: 0;
    }

    @include MQ(L){
      .Content--left{
        .Content__text{
          padding: 80px 15px 80px 30px;
        }
      }

      .Content--right{
        .Content__text{
          padding: 80px 30px 80px 15px;
        }
      }
    }
  }

  h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include MQ(M){
      font-size: 36px;
    }
  }

  &__text{
    color: $sugar-cane;
    padding: 0 15px;

    dl{
      margin: 0;
    }

    dt{
      font-family: $mont;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    dd{
      font-family: $roboto;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.4;
      margin: 0;

      dt{
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: lowercase;
        font-weight: 500;
      }

      dd{
        margin-bottom: 15px;
      }
    }

    p{
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: .2px;
      font-family: $roboto;
      margin-bottom: 30px;
    }
  }

  &__img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    margin-bottom: 30px;
  }

  &--left,
  &--right{
    @extend .Content;

    @include MQ(M){
      display: flex;

      .Content__img{
        //flex: 1.9;
        height: auto;
        margin: 0;
        width: 60%;
      }

      .Content__text{
        //flex: 1;
        width: 40%;
      }
    }
  }

  &--left{
    .Content__img{
      order: 0;
    }

    .Content__text{
      @include MQ(M){
        padding: 20px  40px;
        text-align: left;
      }
    }
  }

  &--right{
    .Content__img{
      order: 1;
    }

    .Content__text{
      @include MQ(M){
        padding: 0 40px 0 0;
        text-align: right;
      }
    }
  }

  &__slider{
    height: 100%;
    max-height: 700px;

    .slick-list,
    .slick-track{
      height: 100%;
    }

    &Item{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}

.Cardapio{
  text-align: center;
  margin: 0;

  @include MQ(M){
    padding: 100px 0;
  }
}

.Media{
  padding-bottom: 90px;
  
  &__content{
    @include MQ(M){
      display: flex;
    }
  }

  &__column{
    > img{
      height: 24px;
      width: 24px;
    }

    @include MQ(M){
      flex: 1;
    }
  }

  &__box{
    margin-top: 20px;
  }
}








.Social{
  list-style: none;
  margin: 0;
  padding: 0;

  li,
  a{
    display: inline-block;
    height: 24px;
  }

  li{
    &:hover{
      path, ellipse{
        fill: $pizazz;
      }
    }
  }

  svg{
    height: 24px;
    width: 24px;

    path, ellipse{
      @include transition(fill .4s ease);
    }
  }

  @include MQ(M){
    
    li,
    a{
      height: 32px;
    }

    svg{
      height: 32px;
      width: 32px;
    }
  }
}

