@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'elements';
@import 'header';
@import 'menu';


// GENERAL

img{
   max-width: 100%;
}

body{
   background-color: $cod-gray;
}

html, body {
  height: 100%;
  margin: 0; 
  padding: 0;
}

.PageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.PageContent{
   flex: 1;
}


// CONTENT

.Banner{
  height: 100vh;
  position: relative;

  &::before{
    background: rgba($cod-gray, .65);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; 
  }

  &--photo{
    @extend .Banner;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.Gallery{
  .Content{
    padding: 0;

    @include MQ(M){
      padding: 0 15px;
    }
  }

  .Title{
    padding: 0 15px;
  }
}

.GallerySlider{
  position: relative;
  height: 300px;
  margin: 0;

  .slick-list,
  .slick-track{
    height: 100%;
  }

  &__item{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  @include MQ(M){
    float: left;      
    width: calc(100% - 126px);
  }
}

.GalleryNav{
  height: 100px;

  .slick-list,
  .slick-track{
    height: 100%;
  }

  &__item{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;

    &::after{
      @include transition(opacity .5s ease);
      background: rgba($cod-gray, .65);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1; 
    }

    &.slick-current{
      &::after{
        opacity: 0;
      }
    }
  }
}













.Social{
   svg{
      height: 24px;
      width: 24px;
   }
}

